@model IEnumerable<WebApplication3.Models.Event>
@{
    Layout = "~/Views/Shared/_LayoutOrganizer.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazwaWydarzenia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiejsceWydarzenia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazwaWydarzenia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiejsceWydarzenia)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
